#main-div {
    background-color: rgb(203, 193, 206);
    margin-left: 228px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    min-height: 97vh;
}

#goal-title-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-style: solid;
    border-color: #695E93;
}

#goal-title {
    color: #695E93;
    font-size: 30px;
    font-weight: 800;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
}

#tasks-div {
    border-style: solid;
    width: 100%;
}

.task {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-title {
    color: #695E93;
}

.done-task-button {

}

#tasks-buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}